<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Mercado Liebre'}) -%>

<body>
    <%- include('./partials/header') -%>

    <section class="banner">
        <img src="../images/img-home-banner.jpg" alt="banner">
    </section>

    <main>
        <h3>Basados en tu última visita</h3>
        <section class="products last-visits">
            <% for (let i = 0; i < lastVisitedProductList.length; i++ ) { %>

                <%- include('./partials/product', {
                    description: lastVisitedProductList[i].description,
                    picture: lastVisitedProductList[i].picture,
                    price: lastVisitedProductList[i].price,
                    discount: lastVisitedProductList[i].discount
                }) -%>

            <% } %>
        </section>

        <h3>Ofertas</h3>
        <section class="products ofers">
            <% for (let i = 0; i < offers.length; i++ ) { %>

                <%- include('./partials/product', {
                    description: offers[i].description,
                    picture: offers[i].picture,
                    price: offers[i].price,
                    discount: offers[i].discount
                }) -%>

            <% } %>
        </section>

    </main>
    <%- include('./partials/footer') -%>
</body>

</html>